*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/matching_sims/*/*.csv
/matching_sims/*/*.pdf
/matching_sims/*.csv
/matching_sims/*.xlsx
/matching_sims/*.pdf
/matching_sims/results_from_null
.gitignore.swp
.gitignore~
