<%= f.radio_button :response, 1, 
		{:class => 'kapcha_control', :style => 'display:none;'} %>
<label for="study_response_1" class="kapcha_control" style="display:none;">
	Yes, I would like to cooperate
</label>
<br />
