<%= f.radio_button :response, 0, 
		{:class => 'kapcha_control', :style => 'display:none;'} %>
<label for="study_response_0" class="kapcha_control" style="display:none;">
	No, I would not like to cooperate
</label>
<br />
