<%= javascript_include_tag "task_with_jquery" %>
<%= javascript_include_tag "flowplayer.min.js" %>
<%= stylesheet_link_tag    "minimalist", :media => "all" %>

<div style="height:50px;"></div>
<div style="text-align: center;">
	<%= image_tag("your_white.png", :width => "600.3", :height => "113.7") %>
	<br />
	<br />
	This HIT is simple and will take a few minutes. 
	However, <strong>you can only do it once.</strong>
	<br />
	<br />	
	<div class="flowplayer" style="width:320px; height:213px;">
	   <video src="http://web29.streamhoster.com/big5marketingco/big5mktg.mp4" autoplay="true"></video>
	</div>
</div>
<div style="height:150px;"></div>


